{% extends "base.html" %}

{% block head_title %}
    <title>Line's details</title>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div>
        <form class="form-inline mb-3">
            <a class="btn mr-3 btn-{% if task.is_completed == 1 %}success{% else %}primary{% endif %}"
                   href="{% url 'deadliner:show_task' task.tid %}">Line {{task.tid}}</a>
            <a href="{% url 'deadliner:task_complete' task.tid %}" class="btn mr-3 btn-success {% if task.is_completed %}disabled{% endif %}">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
            <a href="{% url 'deadliner:task_archive' task.tid %}" class="btn mr-3 btn-danger {% if task.uid != request.user.id %}disabled{% endif %}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a href="{% url 'deadliner:task_update' task.tid %}" class="btn mr-3 btn-info {% if task.uid != request.user.id %}disabled{% endif %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="{% url 'deadliner:task_prolong' task.tid %}" class="btn mr-3 btn-warning {% if task.uid != request.user.id %}disabled{% endif %}">
                <span class="glyphicon glyphicon-repeat"></span>
            </a>
                <!--{% if not task.parent %}-->
                <!--<a href="#" class="btn btn-outline-info mr-3 disabled">Parent</a>-->
                <!--{% else %}-->
                <!--<a href="{% url 'deadliner:show_task' task.parent %}" class="btn mr-3 btn-outline-info">Parent</a>-->
                <!--{% endif %}-->
                <!--{% if not task.children %}-->
                <!--<a href="#" class="btn btn-outline-info disabled">Children</a>-->
                <!--{% else %}-->
                <!--<a href="{% url 'deadliner:task_children' task.tid %}" class="btn btn-outline-info">Children</a>-->
                <!--{% endif %}-->
        </form>
        <dl class="row">

            <dt class="col-sm-1"><h5><span class="glyphicon glyphicon-user my-1"></span></h5></dt>
            <dd class="col-sm-11"><h5>{{task.user}}</h5></dd>

            <dt class="col-sm-1"><h5><span class="glyphicon glyphicon-comment my-1"></span></h5></dt>
            <dd class="col-sm-11"><h5>{{task.title}}</h5></dd>

            <dt class="col-sm-1"><h5><span class="glyphicon glyphicon-flash my-1"></h5></dt>
            <dd class="col-sm-11"><h5>{{task.priority}}</h5></dd>

            {% if task.deadline %}
            <dt class="col-sm-1"><h5><span class="glyphicon glyphicon-hourglass my-1"></h5></dt>
            <dd class="col-sm-11"><h5>{{task.deadline}}</h5></dd>

            <dt class="col-sm-1 text-truncate"><h5><span class="glyphicon glyphicon-calendar my-1"></h5></dt>
            <dd class="col-sm-11"><h5>{{task.period}}</h5></dd>
            {% endif %}
        </dl>

            {% if task.uid == request.user.id %}
            <div class="mb-3">
                <button type="button" class="btn mr-3 btn-primary" data-toggle="modal" data-target="#addGroup">Add group</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMember">Add member</button>
            </div>

            <div class="modal fade" id="addGroup" tabindex="-1" role="dialog" aria-labelledby="addGroupLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title" id="addGroupLabel">Add group</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <form action="{% url 'deadliner:add_group' task.tid %}" method="post">
                            {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-form-label mr-3">Group</label>
                                    <!--<div>-->
                                        {{group_form.group}}
                                        <input type="submit" value="Add" class="btn mr-3 ml-3 btn-primary">
                                        <button type="button" class="btn mr-3 btn-secondary" data-dismiss="modal">Close</button>
                                    <!--</div>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addMember" tabindex="-1" role="dialog" aria-labelledby="addMemberLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title" id="addMemberLabel">Add member</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <form action="{% url 'deadliner:add_member' task.tid %}" method="post">
                            {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-form-label mr-3">Member</label>
                                    <!--<div>-->
                                        {{member_form.member}}
                                        <input type="submit" value="Add" class="btn mr-3 ml-3 btn-primary">
                                        <button type="button" class="btn mr-3 btn-secondary" data-dismiss="modal">Close</button>
                                    <!--</div>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
    </div>

        {% if parent %}
        <div>
            <h4>Parent</h4>
            <div class="d-flex">
                {% include "components/task_component.html" with task=parent %}
            </div>
        </div>
        {% endif %}




        {% if groups %}
        <div>
            <h4>Groups</h4>
            <ul class="list-inline">
                {% for group in groups %}
                <li class="list-inline-item">
                    {% include "components/group_component.html" with group=group %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if members %}
        <div>
            <h4>Members</h4>
            <ul class="list-inline">
                {% for member in members %}
                <li class="list-inline-item">
                    {% include "components/member_component.html" with member=member %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if children %}
        <div>
            <h4>Children</h4>
            <ul class="list-inline">
                {% for child in children %}
                <li class="list-inline-item">
                    {% include "components/task_component.html" with task=child %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
</div>
    <!--</div>-->

<!--</div>-->

<!--<div id="success" class="modal" tabindex="-1" role="dialog">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title">Remove</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<p>The task was successfully removed</p>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.href='{% url 'deadliner:home' %}'">OK</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

{% endblock %}