{% extends "base.html" %}

{% block head_title %}
    <title>Line's {% if task.tid %}update{% else %}create{% endif %}</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div>

        {% if task.tid %}
        <button class="btn mb-3 btn-{% if task.is_completed == 1 %}success{% else %}primary{% endif %}" disabled>Line {{task.tid}}</button>
        {% else %}
        <button class="btn mb-3 btn-primary" disabled>Line
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        {% endif %}
        <form action="{% if task.tid %}{% url 'deadliner:task_update' task.tid %}{% else %}{% url 'deadliner:add_task' %}{% endif %}" method="post">
        {% csrf_token %}
            <div class="form-group row">
                <label class="col-2 col-form-label">Title</label>
                <div>
                {{task_form.title}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Deadline</label>
                <div>
                    {{task_form.deadline}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Periodicity</label>
                <div>
                    {{task_form.period}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Priority</label>
                <div>
                    {{task_form.priority}}
                </div>
            </div>
            <input type="submit" value="{% if task.tid %}Update{% else %}Add{% endif %}" class="btn btn-success">
        </form>
    </div>
</div>
{% endblock %}