{% extends "base.html" %}

{% block head_title %}
    <title>User list</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <form class="form-inline mb-3">
        <a href="{% url 'deadliner:user_list' %}" class="btn mr-3 btn-success">
            <span>User list  <span class="glyphicon glyphicon-list"></span>
            </span>
        </a>
    </form>
    {% for user in users %}
        {% include "components/user_component.html" with user=user %}
    {% endfor %}
</div>
{% endblock %}