<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>DeadLiner</title>
	<meta charset="utf-8">
	<meta name="author" content="Zinya">
	<meta name="description" content="DeadLiner"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
</head>
<body>
    <div>
        <div class="container">
            <div class="row main">
                <div class="main-login main-center">
                    <div class="panel-heading">
                       <div class="panel-title text-center">
                            <h1 class="title">DeadLiner</h1>
                            <hr />
                        </div>
                    </div>
                    <form class="form-horizontal" method="post" action="{% url 'deadliner:registration' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username" class="cols-sm-2 control-label">Username</label>
                            <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
                        </div>
                        <div class="form-group">
                            <label for="password1" class="cols-sm-2 control-label">Password</label>
                            <input type="password" class="form-control" name="password1" id="password1"  placeholder="Enter your Password"/>
                        </div>

                        <div class="form-group">
                            <label for="password2" class="cols-sm-2 control-label">Confirm Password</label>
                            <input type="password" class="form-control" name="password2" id="password2"  placeholder="Confirm your Password"/>
                        </div>

                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                        </div>
                        <div class="login-register">
                            <a href="{% url 'deadliner:login' %}">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>