{% extends "base.html" %}

{% block head_title %}
    <title>403</title>
{% endblock %}

{% block content %}
<div>
    <div><h1>403</h1></div>
    <div>You have no permissions to do this</div>
    <div><h3>{{ message }}</h3></div>
</div>
{% endblock %}