<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block head_title %}
    {% endblock %}
	<meta charset="utf-8">
	<meta name="author" content="Zinya">
    <meta name="description" content="DeadLiner"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary just">
        <a class="navbar-brand" href="{% url 'deadliner:home' %}">DeadLiner</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'deadliner:home' %}">Lines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'deadliner:profile' %}">Profile</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-outline-light" type="button" onclick="location.href='{% url 'deadliner:logout' %}'">Logout</button>
    </nav>
    <div class="container py-md-3" style="height:100vh;">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>