{% extends "base.html" %}

{% block head_title %}
	<title>DeadLiner</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div>
        <ul class="list-inline">
            <li class="list-inline-item">
                <button class="btn btn-outline-success" type="button" onclick="location.href='{% url 'deadliner:add_task' %}'">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </li>
            <li class="list-inline-item">
            <form id="tid_search" class="form-inline" action="{% url 'deadliner:task_get_by_tid' %}" method="post">
                {% csrf_token %}
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <input class="form-control" type="text" data-role="tidinput"
                               placeholder="Search by line ID" id="tid" name="tid" aria-label="Search">
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-outline-info" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </li>
                </ul>
            </form>
            </li>
            <li class="list-inline-item">
            <form id="bind" class="form-inline" action="{% url 'deadliner:task_bind' %}" method="post">
                {% csrf_token %}
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <input class="form-control" type="text" data-role="parentinput"
                               placeholder="Parent ID" id="parent" name="parent" aria-label="Search">
                    </li>
                    <li class="list-inline-item">
                        <input class="form-control" type="text" data-role="childinput"
                               placeholder="Child ID" id="child" name="child" aria-label="Search">
                    </li>
                    <li class="list-inline-item">
                        <button type="submit" class="btn btn-outline-success">
                        <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </li>
                </ul>
            </form>
            </li>
        </ul>
        <div>
            {% if tasks or after_search %}

            <div class="card text-center mb-3">
                <div class="card-header">Advanced search</div>
                    <div class="card-block">

                        <ul class="list-inline mt-3">
            <li class="list-inline-item">
            <form id="advanced_search" class="form-inline" action="{% url 'deadliner:advanced_search' %}" method="post">
                {% csrf_token %}
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <input class="form-control" type="text" data-role="groupinput"
                               placeholder="Search by group" id="group" name="group" aria-label="Search">
                    </li>
                    <li class="list-inline-item">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">

  <label class="btn btn-outline-success">
    <input type="radio" name="own" id="own" autocomplete="off"><span class="glyphicon glyphicon-user my-1"></span>
  </label>
  <label class="btn btn-outline-primary">
    <input type="radio" name="collective" id="collective" autocomplete="off"><span class="glyphicon glyphicon-bullhorn my-1"></span>
  </label>
</div>
                    </li>
                    <li class="list-inline-item">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">

  <label class="btn btn-outline-success">
    <input type="radio" name="completed" id="completed" autocomplete="off"><span class="glyphicon glyphicon-ok my-1"></span>
  </label>
  <label class="btn btn-outline-danger">
    <input type="radio" name="pending" id="pending" autocomplete="off"><span class="glyphicon glyphicon-hourglass my-1"></span>
  </label>
</div>
                    </li>
                    <li class="list-inline-item">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">

  <label class="btn btn-outline-warning">
    <input type="checkbox" name="root" id="root" autocomplete="off"><span class="glyphicon glyphicon-grain my-1"></span>
  </label>
</div>
                    </li>

                    <li class="list-inline-item">
                        <button class="btn btn-outline-info" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </li>
                </ul>
            </form>
            </li>
        </ul>

                    </div>
            </div>
            {% endif %}
            {% for task in tasks %}
                {% include "components/task_component.html" with task=task %}
            {% empty %}
            {% if after_search %}
            <div class="card text-center">
                <div class="card-header">Lines not found</div>
                    <div class="card-block">
                        <p class="card-text my-3">Try to change your filter setting</p>
                        <a href="{% url 'deadliner:add_task' %}" class="btn btn-success mb-3">Add more lines!</a>
                    </div>
            </div>
            {% else %}
            <div class="card text-center">
                <div class="card-header">You have no lines</div>
                    <div class="card-block">
                        <p class="card-text my-3">Press green plus button to add lines</p>
                        <a href="{% url 'deadliner:add_task' %}" class="btn btn-success mb-3">Add your first line!</a>
                    </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}