<div class="card text-center mb-3 card-outline-info">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item mr-3">
                <form id="advanced_search" class="form-inline" action="{% url 'deadliner:advanced_search' %}" method="post">
                    {% csrf_token %}
                        <input class="btn btn-info" type="submit" data-role="groupinput"
                               id="group" value="{{group.group}}" name="group">
                </form>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-info {% if group.uid != request.user.id %}disabled{% endif %}"
                   href="{% url 'deadliner:group_remove' group.gid %}">
                <span class="glyphicon glyphicon-remove"></span></a>
            </li>
        </ul>
    </div>
</div>
