<div class="card text-center mb-3 card-outline-info">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item mr-3">
                <a class="btn btn-danger"
                   href="{% url 'deadliner:user_page' member.uid %}">User {{member.uid}}</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link disabled" href="#">{{member.login}}</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-danger {% if member.own != request.user.id %}disabled{% endif %}"
                   href="{% url 'deadliner:member_remove' member.tid member.uid%}">
                <span class="glyphicon glyphicon-remove"></span></a>
            </li>
        </ul>
    </div>
</div>