<div class="card text-center mb-3 card-outline-info">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item mr-3">
                <a class="btn btn-{% if task.is_completed == 1 %}success{% else %}primary{% endif %}"
                   href="{% url 'deadliner:show_task' task.tid %}">Line {{task.tid}}</a>
            </li>
            <li class="nav-item mr-3">
                <a href="{% url 'deadliner:task_complete' task.tid %}" class="btn btn-success {% if task.is_completed %}disabled{% endif %}">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
                <a href="{% url 'deadliner:task_archive' task.tid %}" class="btn btn-danger {% if task.uid != request.user.id %}disabled{% endif %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </li>

            <li class="nav-item">
                {% if not task.parent %}
                <a href="#" class="btn btn-outline-info disabled">Parent</a>
                {% else %}
                <a href="{% url 'deadliner:show_task' task.parent %}" class="btn btn-outline-info {% if task.uid != request.user.id %}disabled{% endif %}">Parent</a>
                {% endif %}
                {% if not task.children %}
                <a href="#" class="btn btn-outline-info disabled">Children</a>
                {% else %}
                <a href="{% url 'deadliner:task_children' task.tid %}" class="btn btn-outline-info {% if task.uid != request.user.id %}disabled{% endif %}">Children</a>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="card-block">

        <!--<div class="progress">-->
            <!--<div class="progress-bar bg-success" role="progressbar" style="width: 100%">{{ task.deadline }}</div>-->
            <!--<div class="progress-bar" role="progressbar" style="width: 50%">{{ task.priority }}</div>-->
        <!--</div>-->
        <p class="card-text my-3">{{task.title}}</p>
    </div>
</div>