<div class="card text-center mb-3 card-outline-info">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item mr-3">
                <a class="btn btn-danger"
                   href="{% url 'deadliner:user_page' user.uid %}">User {{user.uid}}</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link disabled" href="#">{{user.login}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Registration date: {{user.creation_time}}</a>
            </li>
        </ul>
    </div>
</div>